<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>382695124669-6473c1l3pefbfidt8b5ldtn6ata71v6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382695124669-6473c1l3pefbfidt8b5ldtn6ata71v6i</string>
	<key>API_KEY</key>
	<string>AIzaSyDM5zwP1iy5W4R32H2aq2yPpuLoz6hGLl8</string>
	<key>GCM_SENDER_ID</key>
	<string>382695124669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.alguard.schoolPanel</string>
	<key>PROJECT_ID</key>
	<string>schoolplanner-42775</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolplanner-42775.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:382695124669:ios:e73724c3ec103885</string>
	<key>DATABASE_URL</key>
	<string>https://schoolplanner-42775.firebaseio.com</string>
</dict>
</plist>